﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*.jumbotron{
    font-weight:100;
    line-height:normal;
    margin-bottom:5px;
    font-size: 20px;
}*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #325d90 !important;
}

footer{
    text-align:center;
}

.control-label{
    float: right;
    vertical-align: middle;
    margin-top: 10px;
    color: #081526 !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
select{
    width:350px;
}

.btn-default{
    background-color:#081526 !important;
    color:white !important;
    width:80px !important;
    padding: 2px;
}

#dealers tbody tr > td:last-child{
    white-space:nowrap !important;
}