﻿@using AAA_CSR_Support_Tool.Models

@model DealerCodeModel


@{
    ViewBag.Title = "Homenet Code Activation Page";
}

<h2>Homenet Code Activation Page</h2>
<hr />
<div class="row"><br/></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <b class="text-primary">Activate A Dealer Code</b>
    </div>
    <div class="panel-body">

        @using (Html.BeginForm("AddDealer", "Homenet", FormMethod.Post, new { id = "add-code" }))
        {
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-2">
                        @Html.LabelFor(m => m.DealerCode, new { @class = "control-label" })
                    </div>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.DealerCode, new { @class = "form-control", autofocus = "autofocus" })
                        @Html.ValidationMessageFor(m => m.DealerCode)
                    </div>
                </div>
            </div>

            <div class="row"><br /></div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <input type="submit" class="btn btn-default" />
                    </div>
                </div>
            </div>

        }
    </div>
</div>



<script>
    $(document).ready(function () {
      @if (!string.IsNullOrEmpty(ViewBag.ErrMsg))
      {
          @: alert('@ViewBag.ErrMsg');
      }
    });
</script>