﻿@using AAA_CSR_Support_Tool.Models

@model IEnumerable<HomenetDealerModel>


@{
    ViewBag.Title = "Homenet Dealers";
}

<h2>Homenet Dealers</h2>
<hr />
<div class="row"><br /></div>
<div class="panel panel-default">
    <div class="panel-heading">
        <b class="text-primary">Homenet Dealers List</b>
    </div>
    <div class="panel-body">
        @if (Model.Count() > 0)
            {
            <div style="height:400px;">
                <table id="dealers" class="table table-hover table-dark table-bordered">
                    <thead>
                        <tr>
                            <th width="100px" scope="col">
                                @Html.DisplayNameFor(model => model.AccountId)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.DealerName)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.DealerZip)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.DealerUrl)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.IsActive)
                            </th>
                            <th width="120px" scope="col">
                                @Html.DisplayNameFor(model => model.UpdateDate)
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                {
                            <tr>
                                <td width="100px">
                                    @Html.DisplayFor(modelItem => item.AccountId)
                                </td>
                                <td style="width:350px;">
                                    @Html.DisplayFor(modelItem => item.DealerName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DealerZip)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DealerUrl)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsActive)
                                </td>
                                <td width="120px">
                                    @Html.DisplayFor(modelItem => item.UpdateDate)
                                </td>
                                <td>
                                    @if (item.IsActive)
                                    {
                                        @Html.ActionLink("Deactivate", "ToggleActiveStatus", "Homenet", null, new { @class = "btn btn-default", id = "btn_deactivate", itemId = item.AccountId, actiontype = "toggle", action = "0" })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Activate", "ToggleActiveStatus", "Homenet", null, new { @class = "btn btn-default", id = "btn_activate", itemId = item.AccountId, actiontype = "toggle", action = "1" })
                                    }

                                    @Html.ActionLink("Repoll", "RepollDealer", "Homenet", null, new { @class = "btn btn-default", id = "btn_repoll", itemId = item.AccountId, actiontype = "repoll" })
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        }
        else
        {
            <div>
                There are no records to display.
            </div>
        }


    </div>      
</div>

<script>
    $(document).ready(function () {
        var table = $('#dealers').DataTable({
            scrollY: 500,
            scrollCollapse: true,
            paging: true,
            searching: true,
            ordering: false,
            info: false,
        });
        //var table = $('#updates').DataTable();
        new $.fn.dataTable.FixedHeader(table);

        $('#dealers tbody').on( 'click', 'a', function (e) {
            e.preventDefault();
            var $this = $(this);
            var data = table.row($this.parents('tr')).data();
            var accountId = $this.attr("itemid");
            var url = $this.attr("href");
            var actionType = $this.attr("actiontype");
            if (actionType === "repoll") {
                repollDealer(accountId, url);
            }
            else {
                var action = $this.attr("action");
                var chk = $this.parents('tr').find('input[type=checkbox]');
                repollOrdeactivatedealer($this, accountId, action, url, chk);
            }
        } );

    });

    function repollDealer(accountId, url) {
        $.ajax({
            url: url,
            type: 'POST',
            data: {
                accountId: accountId,
                status: status
            },
            success: function (result) {
                if (result.success) {

                }
                else {
                    alert(result.status);
                }
            }
        });
    }

    function repollOrdeactivatedealer(linkObj, accountId, status, url, chkObj) {
        $.ajax({
            url: url,
            type: 'POST',
            data: {
                accountId: accountId,
                status: status
            },
            success: function (result) {
                if (result.success) {
                    alert(result.status);

                    if (status == 1) {
                        linkObj.attr("action", '0');
                        linkObj.html('Deactivate');
                    }
                    else {
                        linkObj.attr("action", '1');
                        linkObj.html('Activate');
                    }

                    if (chkObj !== undefined) {
                        if (status == 1){
                            chkObj.prop('checked', true);
                        }
                        else
                            chkObj.removeAttr('checked');
                    }
                }
                else {
                    alert(result.status);
                }
            }
        });
    }
</script>
<style>
    th {
        background-color: #102641;
        color: white;
        border: 0px solid transparent !important;
    }
</style>
