﻿@{
    ViewBag.Title = "Home Page";
}
<h2>Goaline Solutions - CSR tool</h2>
<hr />
<div class="row"><br /></div>
<div class="row">
   <div class="panel panel-default">
       <div class="panel-heading"><b class="text-primary">Customer Reps services.</b></div>
       <div class="panel-body">
           <p>Hey there!,</p>
           <p>Wlecome</p>
       </div>
   </div>
</div>