﻿@using AAA_CSR_Support_Tool.Models

@model IEnumerable<AAADealerModel>

@{
    ViewBag.Title = "AAA Dealer List";

    List<SelectListItem> dealerList = Model
               .OrderBy(c => c.DealerName)
               .Select(n =>
               new SelectListItem
               {
                   Value = n.DealerID.ToString(),
                   Text = n.DealerName.ToString()
               }).ToList();
}

<h2>AAA Dealers Name Update Page</h2>
<hr />
<div class="row"><br/></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <b class="text-primary">Update Dealer Name</b>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("ChangeName", "Dealer", FormMethod.Post, new { @id = "dealer_form" }))
        {
            <div id="dvUndo" class="row" style="float:right; margin-right:-2px;">
                @*<input type="submit" class="btn btn-default" value="Undo Change" />*@
                @Html.ActionLink("Undo Change", "Undo", "Dealer", null, new { @class = "btn btn-default", id = "btn_undo" })
            </div>
            <div class="row"><br /></div>
            <div style="height:400px;" class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        @Html.Label("Dealer List", new { @class = "control-label" })
                    </div>
                    <div class="col-sm-10">
                        @Html.DropDownList("dealers_list", dealerList, new { @class = "form-control", @style = "width:350px;", id = "dealers_list" })
                    </div>
                </div>
                <div class="row"><br /></div>
                <div class="row">
                    <div class="col-sm-2">
                        @Html.Label("New Dealer Name", new { @class = "control-label" })
                    </div>
                    <div class="col-sm-10">
                        @*@Html.DropDownList("dealers_list", dealerList, new { @class = "form-control", @style = "width:350px;", id = "dealers_list" })*@
                        <input type="text" class="form-control" id="new_name" name="new_name" />
                    </div>
                </div>
                <div class="row"><br /></div>
                <div class="row">
                    <div class="col-lg-offset-2 col-sm-2">
                        @*<input type="button" value="Update" class="btn btn-default" id="btn_update" />*@
                        @Html.ActionLink("Update", "ChangeName", "Dealer", null, new { @class = "btn btn-default", id = "btn_update" })
                    </div>
                </div>
            </div>

        }
    </div>
</div>



<script>
    var dealerId;

    $(document).ready(function () {

        $("#dvUndo").hide();

        $("#btn_update").click(function (e) {
            e.preventDefault();
            if ($("#new_name").val() == null || $("#new_name").val() == '') {
                alert('Please, dealer name is required.');
            }
            else {
                change_dealer_name(this.href);
            }
            
        });

        $("#btn_undo").click(function (e) {
            e.preventDefault();
            undo_name_change(this.href);
        })

        
    });

    function show_Undo_Button(show) {
        if(show)
            $("#dvUndo").show(0).delay(10000).fadeOut().hide(0);
    }

    function change_dealer_name(url) {
        var id = $("#dealers_list").val();
        var newname = $("#new_name").val();
        $.ajax({
            url: url,
            type: 'POST',
            data: {
                dealerId: id,
                new_name: newname
            },
            success: function (result) {
                dealerId = id;
                if (result) {
                    $("#dealers_list > option").each(function () {
                        if (this.value == id) {
                            this.text = newname;
                        }
                    });
                    $("#new_name").val("");
                    alert("Dealer name was successfully changed!");
                    show_Undo_Button(true);
                }
                    
            }
        });
    }

    function undo_name_change(url) {
        $.ajax({
            url: url,
            type: 'POST',
            data: {
                dealerId: dealerId
            },
            success: function (result) {
                $("#dvUndo").hide();
                if (result) {
                    alert("Undo operation was successful!");
                    location.reload();
                }
            }
        });
    }
</script>
